footer section ul {
	list-style: none;
	padding: 0;
	margin: 0;
	transition: all 0.3s ease-in-out;
	height: 0;
	overflow: hidden;
	transition: all 0.3s ease-in-out;
}

footer section ul a {
	text-decoration: none;
	color: #000000;
}

.show {
	height: 100%;
}